<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buy now</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

        body {
            font-family: 'Poiret One', cursive;
            font-size: 1.875em;
        }

    </style>
</head>
<body>
<section class="vh-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 text-black">

                <div class="px-5 ms-xl-4">
                    <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
                    <span class="h1 fw-bold mb-0">Gucci</span>
                </div>

                <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

                    <form style="width: 23rem;" action="/buy/list" method="post">

                        <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Enter Information Of Cart, Please
                            ? </h3>

                        <div class="row">
                            <div class="col">
                                <h4>Quantity</h4>
                                <input type="number" class="form-control" name="quantity">
                            </div>
                            <div class="col">
                                <!--                                <input type="text" class="form-control" placeholder="Enter " name="pswd">-->
                                <h4>size</h4>
                                <select name="" id="" style="font-size: 80%">
                                    <option value="100ml">100ml</option>
                                    <option value="300ml">300ml</option>
                                    <option value="500ml">500ml</option>
                                </select>
                            </div>
                            <br>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h4>Date</h4>
                                <input type="text" id="date" class="form-control" name="dateBuy" readonly oninput="dateToday()">
                            </div>
                        </div>
                        <div class="pt-1 mb-4">
                            <button class="btn btn-info btn-lg btn-block" type="submit">Add to cart</button>
                        </div>
                    </form>

                </div>

            </div>
            <div class="col-sm-6 px-0 d-none d-sm-block">
                <img src="https://media.gucci.com/content/DiaryPrimaryImg_Standard_576x432/1586955604/DiaryPrimaryImg_me-myself-and-i-06_001_Default.jpg"
                     alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <script>
        function dateToday() {
            let d = new Date();
            let year = d.getFullYear();
            let month = d.getMonth() + 1;
            let day = d.getDate();

           let today= ( year + '-' + month+ '-'+ day);
           let date1 = (document.getElementById('date').value = today);
           return date1
        }
        console.log(dateToday())
    </script>
</section>
</body>
</html>